:root {
    /* Flexoki Color System */
    --flexoki-black: #100F0F;
    --flexoki-paper: #FFFCF0;

    --flexoki-50: #F2F0E5;
    --flexoki-100: #E6E4D9;
    --flexoki-150: #DAD8CE;
    --flexoki-200: #CECDC3;
    --flexoki-300: #B7B5AC;
    --flexoki-400: #9F9D96;
    --flexoki-500: #878580;
    --flexoki-600: #6F6E69;
    --flexoki-700: #575653;
    --flexoki-800: #403E3C;
    --flexoki-850: #343331;
    --flexoki-900: #282726;
    --flexoki-950: #1C1B1A;

    /* Theme Variables */
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: var(--flexoki-paper);
    --entry: var(--flexoki-paper);
    --primary: var(--flexoki-900);
    --secondary: var(--flexoki-600);
    --tertiary: var(--flexoki-150);
    --content: var(--flexoki-900);
    --code-block-bg: var(--flexoki-950);
    --code-bg: var(--flexoki-50);
    --border: var(--flexoki-100);
}

.dark {
    --theme: var(--flexoki-950);
    --entry: var(--flexoki-900);
    --primary: var(--flexoki-100);
    --secondary: var(--flexoki-400);
    --tertiary: var(--flexoki-700);
    --content: var(--flexoki-100);
    --code-block-bg: var(--flexoki-900);
    --code-bg: var(--flexoki-800);
    --border: var(--flexoki-800);
}

.list {
    background: var(--code-bg);
}

.dark.list {
    background: var(--theme);
}
