:root {
    /* Flexoki Color System */
    --flexoki-black:           #100F0F;
    --flexoki-paper:           #FFFCF0;
  
    --flexoki-50:              #F2F0E5;
    --flexoki-100:             #E6E4D9;
    --flexoki-150:             #DAD8CE;
    --flexoki-200:             #CECDC3;
    --flexoki-300:             #B7B5AC;
    --flexoki-400:             #9F9D96;
    --flexoki-500:             #878580;
    --flexoki-600:             #6F6E69;
    --flexoki-700:             #575653;
    --flexoki-800:             #403E3C;
    --flexoki-850:             #343331;
    --flexoki-900:             #282726;
    --flexoki-950:             #1C1B1A;

    --flexoki-red-400:         #D14D41;
    --flexoki-red-600:         #AF3029;
    --flexoki-orange-400:      #DA702C;
    --flexoki-orange-600:      #BC5215;
    --flexoki-yellow-400:      #D0A215;
    --flexoki-yellow-600:      #AD8301;
    --flexoki-green-400:       #879A39;
    --flexoki-green-600:       #66800B;
    --flexoki-cyan-400:        #3AA99F;
    --flexoki-cyan-600:        #24837B;
    --flexoki-blue-400:        #4385BE;
    --flexoki-blue-600:        #205EA6;
    --flexoki-purple-400:      #8B7EC8;
    --flexoki-purple-600:      #5E409D;
    --flexoki-magenta-400:     #CE5D97;
    --flexoki-magenta-600:     #A02F6F;


    /* Theme Variables */
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: var(--flexoki-paper);
    --entry: var(--flexoki-paper);
    --primary: var(--flexoki-900);
    --secondary: var(--flexoki-600);
    --tertiary: var(--flexoki-150);
    --content: var(--flexoki-900);
    --code-block-bg: var(--flexoki-950);
    --code-bg: var(--flexoki-50);
    --border: var(--flexoki-100);
    --link: var(--flexoki-purple-600);
}

.dark {
    --theme: var(--flexoki-950);
    --entry: var(--flexoki-900);
    --primary: var(--flexoki-100);
    --secondary: var(--flexoki-400);
    --tertiary: var(--flexoki-700);
    --content: var(--flexoki-100);
    --code-block-bg: var(--flexoki-900);
    --code-bg: var(--flexoki-800);
    --border: var(--flexoki-800);
    --link: var(--flexoki-purple-400);
}

.list {
    background: var(--code-bg);
}

.dark.list {
    background: var(--theme);
}
